<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>su.happ.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>happ</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.decodersec.app.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>decodersec</string>
				<string>decoder</string>
				<string>everywhere</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.decodersec.app.sharelinks</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vless</string>
				<string>vmess</string>
				<string>trojan</string>
				<string>ss</string>
				<string>socks</string>
				<string>socks5</string>
				<string>hysteria2</string>
				<string>hy2</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
